# Python build and distribute items
__pycache__/
.eggs
*.egg-info/
build
dist
venv

# Testing items
.tox/
.coverage
.noseids
cover

# Editors/tools
.idea/
.vscode/
.mypy_cache/
.pytest_cache/
.python-version

# Docs
docs/_build
docs/source
