[MASTER]
# Use multiple processes to speed up Pylint (--go-faster)
jobs=4

[MESSAGES CONTROL]
# W0221: Parameters differ from %s %r method
# R0902: Too many instance attributes
# R0903: Too few public methods (%s/%s)
# R0913: Too many arguments
# C0103: Invalid name
# C0122: misplaced-comparison-constant
# C0301: line-too-long  (flake8 already catches this for us)
# R0201: Method could be a function (no-self-use)
# C0209: Formatting a regular string which could be a f-string (consider-using-f-string)
# R0801: Similar lines in 2 files
disable=R0902, R0903, R0913, W0221, C0103, C0122, C0301, R0201, C0209, R0801

[TYPECHECK]
# Add typechecking rules here