name: Pycloudlib CI

on: [pull_request]

concurrency:
  group: "ci-${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  tox-defaults:
    runs-on: ubuntu-20.04
    steps:
      - name: Install dependencies
        run: sudo DEBIAN_FRONTEND=noninteractive apt-get -qy install tox
      - name: Git checkout
        uses: actions/checkout@v4
      - name: Run tox
        run: tox
  docs:
    runs-on: ubuntu-20.04
    steps:
      - name: Install dependencies
        run: sudo DEBIAN_FRONTEND=noninteractive apt-get -qy install tox
      - name: Git checkout
        uses: actions/checkout@v4
      - name: Build rtd docs
        run: tox -e docs
  integration-tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update -q
          sudo apt-get install -qy distro-info tox
          sudo snap install lxd
      - name: Git checkout
        uses: actions/checkout@v3
      - name: Setup LXD
        uses: canonical/setup-lxd@v0.1.2
      - name: Setup pycloudlib config and ssh key
        run: |
          ssh-keygen -P "" -q -f ~/.ssh/id_rsa
          mkdir -p ~/.config
          echo "[lxd]" > ~/.config/pycloudlib.toml
      - name: Run CI integration tests
        run: |
          tox -e integration-tests-ci -- --color=yes tests/integration_tests/
