name: Pycloudlib CI

on: [pull_request]

jobs:
  tox:
    runs-on: ubuntu-18.04
    steps:
      - name: Install dependencies
        run: sudo DEBIAN_FRONTEND=noninteractive apt-get -qqy install tox
      - name: Git checkout
        uses: actions/checkout@v3
      - name: Run tox
        run: tox
